<a href="https://colab.research.google.com/github/HimanshuSahoo/PythonCode/blob/main/String_Match_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import base64
import boto3
import gzip
import json
import logging
import os

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('D://Cloudwatch_Logs.csv',encoding='latin1')

In [ ]:
df

                                          Error_Name        Error_Type
0                         [ERROR]-Failed to unmount        Admin Error
1              [ERROR]-Worker is ungracefully killed    Platform Error
2  runtime execution error: unable to start lambd...    Platform Error
3                         [ERROR]-Deployment failed.  Deployment Error
4  [ERROR]-runtime failed to start: unable to sta...    Platform Error
5  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...    Platform Error
6  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...    Platform Error

In [ ]:
header_names=['Error_Name']
df=pd.read_csv('D://Cloudwatch_Logs.csv',encoding='latin1')

In [ ]:
df

                                          Error_Name        Error_Type
0                         [ERROR]-Failed to unmount        Admin Error
1              [ERROR]-Worker is ungracefully killed    Platform Error
2  runtime execution error: unable to start lambd...    Platform Error
3                         [ERROR]-Deployment failed.  Deployment Error
4  [ERROR]-runtime failed to start: unable to sta...    Platform Error
5  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...    Platform Error
6  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...    Platform Error

In [ ]:
df['Error_Type'] = np.NaN

In [ ]:
df

                                          Error_Name  Error_Type
0                         [ERROR]-Failed to unmount          NaN
1              [ERROR]-Worker is ungracefully killed         NaN
2  runtime execution error: unable to start lambd...         NaN
3                         [ERROR]-Deployment failed.         NaN
4  [ERROR]-runtime failed to start: unable to sta...         NaN
5  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...         NaN
6  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...         NaN

In [ ]:
df['Error_Type'] = pd.np.where(df.Error_Name.str.contains("Deployment"), "Deployment Error",
                               pd.np.where(df.Error_Name.str.contains("runtime"), "Runtime Error",
                               pd.np.where(df.Error_Name.str.contains("ungracefully"), "Platform Error","Proc Error")))

<ipython-input-60-603bdcaed914>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df['Error_Type'] = pd.np.where(df.Error_Name.str.contains("Deployment"), "Deployment Error",
<ipython-input-60-603bdcaed914>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(df.Error_Name.str.contains("runtime"), "Runtime Error",
<ipython-input-60-603bdcaed914>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(df.Error_Name.str.contains("ungracefully"), "Platform Error","Proc Error")))

In [ ]:
df

                                          Error_Name        Error_Type
0                         [ERROR]-Failed to unmount         Proc Error
1              [ERROR]-Worker is ungracefully killed    Platform Error
2  runtime execution error: unable to start lambd...     Runtime Error
3                         [ERROR]-Deployment failed.  Deployment Error
4  [ERROR]-runtime failed to start: unable to sta...     Runtime Error
5  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...        Proc Error
6  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...        Proc Error